<div class="d-flex flex-column" style="margin-top: 16rem;">
    <div><%-include('../partials/search.ejs')%></div>
    <% if(data.length==0) { %>
        <div class="alert alert-danger text-danger fw-bold fs-4">
            Oops ! No Matching Question Found
            <a href="/" class="btn btn-dark text-white float-end">Return To Home</a>
        </div>
    <% } else { %>
    <% data.forEach(element=>{ %>
        <div class="card float-start mt-4">
            <div class="card-header fw-bolder">
                <span class="badge bg-secondary text-dark fs-6">
                    Subject : <%=element.subject%>
                </span>
                <span class="badge bg-secondary text-dark fs-6">
                    Exam asked : <%=element.askedin.exam%>
                        <%=element.askedin.year%>
                </span>
            </div>
            <div class="card-body ">
                <u class="fw-bold text-secondary"> Question</u>
                <p class="card-title fs-4">
                    <% element.question.forEach(ele=>{ %>
                        <%=ele%> <br>
                    <%})%>
                </p>
            </div>
            <div class="card-footer ">
                <a href="/answer/:<%=element._id%>" class="btn btn-sm btn-dark float-end">Show Answer</a>
            </div>
        </div>
    <% }) %>
    <% } %>
</div>