<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
        <title>Nielit Exam Quora</title>
</head>

<body>
    <div style="background-color: #141E30;">   
        <%-include('partials/header.ejs')%>
        <%-include('partials/nav.ejs')%>
        <%-include('partials/login.ejs')%>
        <%-include('partials/register.ejs')%>
        <hr class=" bar">
    
   
</div>
<div class="container" >   
    <div class="d-flex justify-content-center ">
        <div class="mt-5">
                <img src="/images/sid1.jpg" alt="Profile picture" class=" profilepic">
        </div>
        <div class="content mt-5 mx-5 ">
            <u><h3 class="fw-bold">About the developer</h3></u>
            <i class=" fs-4 ">
                <p> Hey ! Welcome to my site.My Name is <b>Siddharth kishore</b>.I' m a Computer Science
                    Graduate , NIELIT A
                    level Qualified and presently pursuing my Masters in computer Application.Idea of
                    this project came
                    to my Mind
                    During A level course. As Nielit Examinations are Tough to crack and for preparation
                    there are less
                    no. of
                    dedicated resources. So I Decided to use my Skill Sets to Resolve this Issue among
                    Nielit Aspirants
                    .Nielit is a
                    Wonderful Instituion which offers Various courses in field of IT and Electronics.
                    The Coolest thing
                    I feel about
                    nielit is that It offers courses which requires minimum pre-requisites .Any one with
                    Basic
                    qualification of
                    Matriculation and Inter(10+2) can pursue courses from nielit and learn the Industry
                    grade IT skills
                    to Become
                    skilled in this Tech Oriented World.
                </p>
            <u><h3>This Site is Going to help you in following ways -:</h3></u>
            <ul>
                <li>
                    <p>A Visitor Can Search for a question based on key words in a question or
                        directly typing the
                        question as it is.</p>
                </li>
                <li>
                    <p>A keyword Can be any thing like Relevant topic on which question is based on.
                    </p>
                </li>
                <li>
                    <p>Visitor can also Filter questions based on Questions Asked in various Nielit
                        Exams or
                        specific subject.</p>
                </li>
                <li>
                    <p>A visitor can Register over the site and create an Account to Post a question
                        or Answer a
                        question.</p>
                </li>
                <li>
                    <p>Every question is going to have multiple chained answers from different user.
                        and at max 3
                        answer will be displayed
                        which will be sorted based on no of votes an answer receives.
                    </p>
                </li>
            </ul>
            <u><h3 class="fw-bold">A Message From Developer</h3></u>
                <p>
                    My Motivation that drove me for doing this Project is that I want my country people
                    to
                    be skilled in IT and Electronics which is an interdisciplinary Field of Science and
                    Technology which
                    can be utilized to solve problems of various domains. 21'st Century is Evolving with
                    Various Trends
                    in Technology
                    and to stay up with it We need to Train ourselves in every domain with Passion .So I
                    Wish Every
                    Student <b> All the Best </b> in their learning pathway.
                    <p>
                        This project is a small contribution from my side for helping Students to prepare
                        for exams.
                        <b>I Request all the Visitors to post as many questions they counter while Studying
                            so that Upcoming
                            Students gets benefited More and More.</b>
                    </p>
                </p><br>
                <p>More Functionalities Upcoming...</p><br>
                <p>For details About Nielit Courses Visit the Following Link <a href="https://www.nielit.gov.in/content/computer-course-0">Nielit Courses</a> .
                </p>
                </i>
        </div>
    </div>
    <div class="card mt-5  cardcol" style="margin: auto;">
            <h3 class="text-center mt-3" style="color:rgb(101, 191, 194);">Connect to me
            <span>&#x1F91D;</span></h3>
            <div class="card-title d-flex justify-content-evenly mt-5">
            <div>
                <a href="https://www.linkedin.com/in/siddharth-kishore-72b0667b/">
                    <img class="img " src="/images/social/linkedin.svg" alt="Linkedin">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/sidkishore.vats/">
                    <img class="img " src="/images/social/insta.svg" alt="Instagram">
                </a>
            </div>
            <div>
                <a href="https://twitter.com/Sidkishore_vats">
                    <img class="img " src="/images/social/twitter.svg" alt="Twitter">
                </a>
            </div>
            <div>
                <a href="https://github.com/sidvats">
                    <img class="img " src="/images/social/github.svg"  alt="Github">
                </a>
            </div>
        </div>
        <div class="card-body mt-2">
            <h5 class="text-center" style="color: black;">Copyright 2021 &copy; All Rights Reserved</h5>
        </div>
    </div>
</div>    
</body>

</html>